<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<div th:insert="~{fragments/header :: header}"></div>

<td class="content-wrap">
	<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td class="content-block"><strong><span
					th:text="${data.customerName}"></span>عزيزي, </strong></td>
		</tr>
		<tr>
			<td class="content-block">تهانيناً !قد أكملت التسجيل معنا بنجاح
				، وحدة من أفضل شركة وساطة التأمين على السيارات !</td>
		</tr>
		<tr>
			<td class="content-block">تم إعتماد تسجيلك عبر الإنترنت لمرفق
				طلب و تجديد وثيقة التأمين</td>
		</tr>
		<tr>
			<td class="content-block"><strong>ملاحظة :</strong> <br /> يمكنك
				الدخول إلى موقع شركة الملا للوساطة في التأمين <a
				th:href="@{'https://' +${data.amibWebLink}}"><span
					th:text="${data.amibWebLink}"></span></a></td>
		</tr>
		<tr>
			<td class="content-block">يرجى تذكر كلمة السر الخاصة بك
				للإستمتاع بخدمة أمنة و دون إنقطاع .</td>
		</tr>
		<tr>
			<td class="content-block">شكراً مع تحيات ,<br /> <strong
				class="upper"><span th:text="${data.companyName}"
					th:remove="tag"></span>,</strong><br /> <span th:text="${data.country}"
				th:remove="tag"></span><br /> <a
				style="color: black; text-decoration: none"><span
					th:text="${data.contactUsEmail}"></span></a><br /> <a
				th:href="@{'https://' +${data.amibWebLink}}"><span
					th:text="${data.amibWebLink}"></span></a>
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
<div th:insert="~{fragments/footer :: footer}"></div>

